.page__features {
    padding-top: 185px;
}
.features {

}
.features__container {
}
.features__hero-block {
}

.features__items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}
.features__item {
    flex: 0 1 280px;
    display: grid;
    gap: 20px;
    justify-items: center;
    text-align: center;
}
.features__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #4475F2;
    box-shadow: 0 30px 60px 0 rgba(71, 74, 87, 0.25);

    height: 100px;
    width: 100px;
}
.features__title {
    color: #000;
    font-weight: 700;
    font-size: 24px;
}
.features__text {
    line-height: 187.5%; /* 30/16 */
}

@media (max-width: 910px) {
    .features__item{
        flex-grow: 1;
    }
}